body{
    background-image: url(page.jpg);
    background-size: auto;
    background-color: rgb(7, 119, 113);
    background-blend-mode: lighten;
    text-align: center;
    font-family: "kalam", sans-serif;
}
#title{
    margin-top: 100px;
    line-height: 10px;

}

#subtitle{
    opacity: 0.8;
    font-size: 18px;
    margin-bottom: 20px;

}
#calendarContainer{
 display: flex;
 justify-content: end;
}

#calendarDiv{
    background-color: #fff;
    border-radius: 10px 10px 20px 20px;
    margin: auto;
    align-content: center;
    text-align: center;
   

}
#calendarHeading{
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
    border: 2px solid black;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 700;
    background-color: gray;
}

.days{
    display: flex;

}

.day{
    width: 30px;
    margin: 3px;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    /* border: 2px solid black; */
    /* background-color: antiquewhite; */
}



